*,
*::before,
*::after {
  margin: 0;
}
.cars-container{
    background-image: url("https://res.cloudinary.com/dphlf7a8o/image/upload/v1668576162/pexels-hyundai-motor-group-11194877_1_c7fra1.jpg");
    background-position: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
 background-repeat: no-repeat;
 background-size: cover;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
   
}