@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
.navbar {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  padding: 0.6rem;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000cc;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 1rem;
}

.navbar-brand h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  opacity: 0.8;
}
.navbar-brand h2 span {
  color: #989898;
}
.navbar-nav {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.navbar-nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-nav > ul > li {
  padding: 0.6rem;
  margin-right: 1.4rem;
}

.navbar-nav > ul > li > a {
  color: white;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
}
.navbar-nav > ul > li .active {
  background-color: black;
}
.navbar-nav > ul > li .active,
.navbar-nav > ul > li:hover > a {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
